<div class="container-fluid text-center text-light">
  <div class="row bg-danger">
    <div class="col-lg-12 mt-4">
      <h2>Meet The Team</h2>
    </div>
    <div class="col-lg-4 col-md-12 mt-4 text-light">
      <img src="assets/team-1.jpg" alt="img1">
      <h3 class="mt-3">Harry Potter</h3>
      <h5>Founder</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    </div>
    <div class="col-lg-4 col-md-12 mt-4 text-light">
      <img src="assets/team-2.jpg" alt="img1">
      <h3 class="mt-3">Hermione Granger</h3>
      <h5>Marketing</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    </div>
    <div class="col-lg-4 col-md-12 mt-4 text-light">
      <img src="assets/team-3.jpg" alt="img1">
      <h3 class="mt-3">Ron Weasley</h3>
      <h5>Designer</h5>
      <p class="mb-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-12 mt-5">
				<h4>Say Hello</h4><br>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</p>
				<p class="text-justify">erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla.</p>
			</div>
			<div class="col-lg-6 col-md-12 mt-5">
              <input type="text" name="Name" placeholder="Name" class="input">
              <input type="text" name="E-Mail" placeholder="E-Mail" class="input">
              <input type="text" name="Subject" placeholder="Subject" class="input">
              <textarea type="text" name="Massage" placeholder="Message" class="input1 mb-3"></textarea>
              <button type="button" class="text-light mb-5">SEND</button>
          </div>
		</div>
	</div>
  <div class="container-fluid bg-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mt-5 text-center">
          <h1>Contact Us</h1>
        </div><br> 
        <div class="col-lg-3 col-md-6 col-sm-12 text-center mt-5">
          <i class="fa fa-desktop fa-2x icon2 text-warning"></i><br>
          <h4 class="mt-3">Address</h4>
          <p>198 West 21th Street New York</p>
          <p>NY 10010</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center mt-5">
          <i class="fa fa-phone fa-2x icon2 text-warning"></i>
          <h4 class="mt-3">Phone</h4>
          <p>+88 (0) 101 0000 000</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center mt-5">
          <i class="fa fa-tablet fa-2x icon2 text-warning"></i>
          <h4 class="mt-3">Fax</h4>
          <p>+88 (0) 101 0000 000</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-center mt-5">
          <i class="fa fa-envelope fa-2x icon2 text-warning"></i>
          <h4 class="mt-3">E-Mail</h4>
          <p class="mb-2">ouremail@yourdomain.com</p><br><br><br>
        </div>
      </div>
    </div>
  </div>


