.input{
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    padding: 7px;
    margin-top: 20px;
}
.input1{
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    height: 200px;
    margin-top: 20px;
}
button{
    background-color: #244b5c;
    border: none;
    width: 130px;
    height: 40px;
}
