<div class="container">
  <div class="row text-center">
    <div class="col-lg-12 m-4">
      <h2>Upcoming university events</h2>
      <p>From a group of academic pioneers in 1901 to the Free Speech Movement in 1964, Bridge University.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 pl-0 pr-0">
      <img src="../../assets/study1.jpg" alt="study" class="img">
      <img src="../../assets/study5.jpg" alt="study" class="img">
    </div>
    <div class="col-lg-3 col-md-6 pr-0 pl-0">
      <img src="../../assets/study2.jpg" alt="study" class="img">
      <img src="../../assets/study6.jpg" alt="study" class="img">
    </div>
    <div class="col-lg-3 col-md-6 pr-0 pl-0">
      <img src="../../assets/study3.jpg" alt="study" class="img">
      <img src="../../assets/study7.jpg" alt="study" class="img">
    </div>
    <div class="col-lg-3 col-md-6 pr-0 pl-0">
      <img src="../../assets/study4.jpg" alt="study" class="img">
      <img src="../../assets/study8.jpg" alt="study" class="img mb-5">
    </div>
  </div>
</div>

