<div class="container" id="Portfolio">
		<div class="row">
			<div class="col-lg-12 text-center mt-5">
				<h1>Our Latest Work</h1>
				<p class="text-muted mb-5">Absolutely suited for all your web-based needs</p>
			</div>
		</div>
	</div> 
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12 pl-0 pr-0">
				<img src="assets/book1.jpg" alt="project" class="gallery">
				<img src="assets/book5.jpg" alt="project" class="gallery">
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pl-0 pr-0">
				<img src="assets/book2.jpg" alt="project" class="gallery">
				<img src="assets/book6.jpg" alt="project" class="gallery">
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pl-0 pr-0">
				<img src="assets/book3.jpg" alt="project" class="gallery">
				<img src="assets/book7.jpg" alt="project" class="gallery">
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 pl-0 pr-0">
				<img src="assets/book4.jpg" alt="project" class="gallery">
				<img src="assets/book8.jpg" alt="project" class="gallery">
			</div>
		</div>
	</div>	

<div class="container-fluid bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mt-5 mb-4">
        <img src="../../assets/ship.jpg" alt="ship" class="gallery">
        <h2>Experience our university</h2>
        <p>From a group of academic pioneers in 1901 to the Free Speech Movement in 1964, Bridge University is a place where the brightest minds come together.</p>
        <a href="#" class="alert-link text-danger">ReadMore</a>
      </div>
      <div class="col-lg-4 mt-5 mb-4">
        <img src="assets/truck.jpg" alt="truck" class="gallery">
        <h2>Industrys expert speakers</h2>
        <p>From a group of academic pioneers in 1901 to the Free Speech Movement in 1964, Bridge University is a place where the brightest minds come together.</p>
        <a href="#" class="alert-link text-danger">ReadMore</a>
      </div>
      <div class="col-lg-4 mt-5 mb-4">
        <img src="assets/aero.jpg" alt="aero" class="gallery">
        <h2>Meet faculty staff members</h2>
        <p>From a group of academic pioneers in 1901 to the Free Speech Movement in 1964, Bridge University is a place where the brightest minds come together.</p>
        <a href="#" class="alert-link text-danger">ReadMore</a>
      </div>
    </div>
  </div>
</div>
